    #root{
        height: inherit;
    }
    .App{
        width: inherit;
        height: inherit;
        display:flex;
        flex-direction:row ;
        justify-content: center;
        align-items: center;
    }
    .Main-Tag {
        justify-content: center;
        width: 30%;
        height: auto;
        margin-top: auto;
        margin: auto;
        align-items: center;
        /* border: aqua; */
        border: 2px solid darkblue;
    }

    .search-Bar {
        width: 95%;
        margin: auto;
        margin-top: 10px;
        /* margin-left: 10px; */
        /* margin-right: 10px; */
        height: 25%;
        justify-content: center;
        border: 2px solid skyblue;
        align-items: center;
        padding: 5px;
    }

    .search-Bar div {
        display: flex;
        flex-direction: row;
        flex-wrap: inherit;
    }

    input[type=checkbox] {
        margin-top: 3px;
    }

    .search-Bar div p {
        font-size: small;
        margin-left: 4px;
    }

    .result-Set {
        width: 95%;
        height: auto;
        border: 2px solid rgb(39, 84, 102);
        margin: auto;
        margin-top: 3px;
        margin-bottom: 5px;
    }

    input[type=text] {
        width: 75%;
    }