
.alert-main{
  width: 100%;
  display: flex;  
  justify-content: flex-end;
}

.alert-main > div{
  display: block;
   /* Hidden by default */
   position: fixed; /*Stay in place */
  z-index: 1; /* Sit on top */
  text-align: center;
  color:white;
  width: 25%;
  float: right;
  margin-left:auto;
  margin-top: 20px;
  margin-right: 20px; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  border-radius: 5px;
}
.alert-main > .success{
  background-color: green;
}
.alert-main> .danger{
  background-color: red;
}
.alert-main>.warning{
  background-color:#ffc107 !important ;
}
