.description {
    margin-top: 25px;
    width: 100%;
    height: 110px;
}

.form-main-tag {
    display: flex;
    margin: auto;
    justify-content: center;
    /* width: 60%; */
    height: 275px;
    /* box-shadow:2px 2px 4px 4px lightgray ; */
}

h2, p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    color: skyblue;
    text-decoration: none;
}

span>p {
    font-size: 10px;
}

.form-main-tag>div {
    flex-flow: column;
}

.bar {
    height: 200px;
    width: 5px;
    margin-top: 15px;
    border-radius: 5px;
    background-color: lightgray;
}

.link {
    margin-right: 20px;
}

.circle-group {
    height: 30px;
    display: flex;
    width: inherit;
    justify-content: space-between;
}

.circles>div {
    border-radius: 50%;
    margin-left: 2px;
    width: 30px;
    background-color: black;
}

.circles {
    float: right;
    height: inherit;
    display: flex;
    float: flex-end;
}

.circle3 {
    height: inherit;
    width: 20px;
    background-color: rgb(19, 196, 63) !important;
    width: 30px;
}

.circles span {
    display: block;
    margin: auto;
    height: 25px;
    width: 25px;
    background-color: white;
    border-radius: 90%;
    margin-top: 3px;
}

.header {
    width: 100%;
    margin: auto;
    margin-top: 40px;
}

.horizantal-line {
    margin-top: 5px;
    width: inherit;
    height: 2px;
    background-color: black;
    border-radius: 5px;
    float: left;
}

.signup-form {
    width: 80%;
    margin: auto;
}

@media only screen and (max-width: 500px) {
    .form-main-tag {
        width: 100%;
        display: grid;
    }
    .bar {
        display: none;
    }
    .form {
        grid-row-end: none;
    }
}
@media only screen and (max-width: 361px) {
    .description h2{
        font-size: 20px;
    }
    .description p{
        font-size: 15px;
    }

}
@media only screen and (max-width: 310px) {
    .description h2{
        font-size: 20px;
    }
    .description p{
        font-size: 15px;
    }

}