
.social-Links >div{
padding :5px;
width: 100%; 
}
.social-Links >div input{
    width: 150px;
    height: 35px;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-style: none;
}
#fb-btn{
    background-color: blue;
}
#google-btn{
    background-color: red;
}
#twitter-btn{
    background-color:skyblue ;
}